{% extends "AppCoder/base.html" %}

{% block title %}
La Casa del Cdigo | Formularios Profesores
{% endblock  %}


{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="d-flex justify-content-center alert alert-danger w-50 m-auto md-3" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-4">

            <form action="" method="POST">

            {% csrf_token %}
            {{ form.as_p }}
            <input type="text" name="usuario" placeholder="Ingrese el nombre de usuario">
            <input type="password" name="contraseña" placeholder="Ingrese la contraseña">

            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
    </div>
</div>


{% endblock  %}